.icon{
    float: left;
    margin-right: .5em;
}

.icon.dragon-mob {
	background: url('https://rpgfy.blob.core.windows.net/base-image/IconSet.png') no-repeat -219px -2px;
	width: 18px;
    height: 20px;
}

.icon.book {
    background: url('https://rpgfy.blob.core.windows.net/base-image/IconSet.png') no-repeat -4px -339px;
	width: 17px;
	height: 20px;
}

.icon.gold {
	background: url('https://rpgfy.blob.core.windows.net/base-image/IconSet.png') no-repeat -193px -529px;
	width: 21px;
	height: 22px;
}

.icon.map-old {
	background: url('https://rpgfy.blob.core.windows.net/base-image/IconSet.png') no-repeat -168px -338px;
	width: 24px;
    height: 22px;
}

.icon.power {
	background: url('https://rpgfy.blob.core.windows.net/base-image/IconSet.png') no-repeat -338px -1px;
	width: 20px;
	height: 22px;
}

.icon.sword {
	background: url('https://rpgfy.blob.core.windows.net/base-image/IconSet.png') no-repeat -51px -580px;
	width: 19px;
	height: 19px;
}

.icon.report {
	background: url('https://rpgfy.blob.core.windows.net/base-image/IconSet.png') no-repeat -243px -337px;
	width: 20px;
	height: 23px;
}

.icon.sword-attack {
	background: url('https://rpgfy.blob.core.windows.net/base-image/IconSet.png') no-repeat -72px -190px;
	width: 23px;
	height: 24px;
}