.icon.star{
    background: url('https://rpgfy.blob.core.windows.net/base-image/IconSet.png') no-repeat -314px -170px;
    width: 19px;
    height: 19px;
    cursor: pointer;
}    

.icon.star.unselected {
	background: url('https://rpgfy.blob.core.windows.net/base-image/IconSet.png') no-repeat -338px -170px!important;
}

.icon.star.disabled
{
    cursor: default;
}